#include "resource.h"
#include <winver.h>

// Icon resource
IDI_APPICON ICON "app_icon.ico"

// Version Information resource
VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,1,0
    PRODUCTVERSION  1,0,1,0
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0" // U.K. English, Unicode
        BEGIN
            VALUE "CompanyName",      "Cosmic DNA Ltd."
            VALUE "FileDescription",  "A utility to use the screen as a light source."
            VALUE "FileVersion",      "1.0.1"
            VALUE "InternalName",     "ScreenLight.exe"
            VALUE "LegalCopyright",   "Copyright (C) Cosmic DNA Ltd. All rights reserved."
            VALUE "OriginalFilename", "ScreenLight.exe"
            VALUE "ProductName",      "Screen Light"
            VALUE "ProductVersion",   "1.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0809, 1200 // U.K. English, Unicode
    END
END
